# HuggingFace API Token
HUGGINGFACEHUB_API_TOKEN=your_huggingface_api_token_here
HUGGINGFACE_REPO_ID=Qwen/Qwen2.5-7B-Instruct

# LangChain / LangSmith Tracing Setup
LANGCHAIN_TRACING_V2=false
LANGCHAIN_API_KEY=your_langchain_api_key_here
LANGCHAIN_PROJECT=tool-calling-agent
