# Python Caches & Artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.venv/
venv/
ENV/
env/

# Streamlit
.streamlit/secrets.toml

# Vectorstore & Local DB Caches
.chroma/
faiss_index/

# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo

# OS Junk
.DS_Store
Thumbs.db
